<html>
  <form>
    <div style="text-align-last: right; padding-right: 45%">
      <h1>Update Electives</h1>

      <label><b>Student Name</b></label
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="name"
        id="name"
        #name
        value="{{ data.name }}"
      /><br />
      <label><b>Subject 1</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="subject1"
        id="subject1"
        value="{{ data.subject1 }}"
        #subject1
      /><br />

      <label><b>Subject 2</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="subject2"
        id="subject2"
        value="{{ data.subject2 }}"
        #subject2
      /><br />
      <label><b>Subject 3</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="subject3"
        id="subject3"
        value="{{ data.subject3 }}"
        #subject3
      /><br />
      <label><b>Subject 4</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="subject4"
        id="subject4"
        value="{{ data.subject4 }}"
        #subject4
      /><br />
      <label><b>Subject 5</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="subject5"
        id="subject5"
        value="{{ data.subject5 }}"
        #subject5
      /><br /><br />
      <button
        type="submit"
        style="margin-right: 6%"
        (click)="
          Update(
            name.value,
            subject1.value,
            subject2.value,
            subject3.value,
            subject4.value,
            subject5.value
          )
        "
      >
        Update
      </button>
      <button type="button" style="margin-right: 15px">
        <a routerLink="/get-details" style="text-decoration: none; color: black"
          >Back</a
        >
      </button>
    </div>
  </form>
</html>
